<html>
    <head>
        <meta charset="utf-8" />
        <title>Project 52/2020</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="js/ext/moment.min.js"></script>
        <script src="js/ext/vue.min.js"></script>
          <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>

        <script src="firebase.js"></script>

    </head>
    <body>
<div id="app">Loading...</div>       
<script>

Vue.component('week', {
  props: {
    data: Object
  },
  template: `
    <div class="week-container">
      <week-info :data="data"></week-info>
      <week-item v-for="item of data.items" :item="item" :key="item.author"></week-item>
    </div>
  `
});

Vue.component('week-info', {
  props: {
    data: Object
  },
  template: `
    <div class="week-info">
      <p>#{{data.number}}of52 / <strong>{{data.topic}}</strong></p>
      <p>Published: <i>{{data.dateStr}}</i></p>
      <p>Suggested by: <i>{{data.author}}</i></p>
    </div>
  `
});

Vue.component('week-item', {
  props: {
    item: Object
  },
  template: `
    <a class="week-item" :href="item.url || 'add.html?author=' + item.author + '&week=' + item.week" :class="{ filled: !!item.url }">
      {{item.author}}
    </a>
  `
});

var app = new Vue({ 
  el: '#app',
  data: {
    weeks: []
  },
  template: `
<div class="outer">
  <h1>Project 52/2020 - #project52</h1>
  <week v-for="week in weeks" :key="week.number" :data="week"></week>
</div>`
});

const authorsOrder = [ "josep", "felipe", "miquel", "ivan", "meri", "alberto", "xisco", "andres", "isa"];

getFirebaseData(function(err, data) {
  const authors = data.authors;
  const authorKeys = authorsOrder;  
  const rawWeeks = data.weeks;
  const init = moment('2020-01-01');
  const weeks = rawWeeks.map((week, index) => {
    const items = authorKeys.map(key => {
      return {
        author: authors[key],
        url: week[key],
        week: index
      }
    });
    const date = moment(init).add(index+1, 'weeks');
    return {
      number: index+1,
      topic: week.topic,
      author: week.author || authors[authorKeys[index % authorKeys.length]],
      dateStr: date.format('DD/MM/YYYY'),
      items
    }
  }).reverse();

  app.weeks = weeks;
});
</script>
    </body>
</html>